body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Logs{
  display: flex;
  justify-content: center;
  width: 80%;
  padding: auto;
  margin: auto;
}


.navBar{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: #03243d;
  
}

